.column img {
  max-width: 50%;
  max-height: 50%;
}

.column {
  width: 300px;
  float: left;
}

h3 {
  color: rgba(196, 101, 23, 0.781);
}

.column p {
  color: rgba(196, 101, 23, 0.781);
  
}

.centered-image {
  margin: auto;
  width: 50%;
  height: auto;
  display: block;
}

body {
  text-align: center;

}

body {
  background-color: rgb(114, 245, 250);
  font-family: sans-serif;
  text-align: center;
}